{% extends 'base.html' %}
{% block content %}
    <h1>Flask-SSE Quickstart</h1>
    <div>
        <input type="text" id="msgInput"/>
        <button id="sendMsgBtn" onclick="send_msg()">call with</button>
    </div>


    {% if contacts %}
        <p>Contacts list</p>
        <ul>
            {% for contact in contacts %}
                <li>
                    <div>
                        <p>{{ contact.to_person.username }}</p>
                        <button class="btn" onclick='onclick_call("{{ contact.to_person.username }}");'>
                            make call
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

{% block static %}
    <script>
        var source = new EventSource("{{ url_for('sse.stream', channel=user.username) }}");

        function onclick_call(username) {
            console.log('button clicked');
            var xhr = new XMLHttpRequest();
                xhr.open('POST', "{{ url_for('call') }}");
                xhr.onload = function () {
                    if (this.status === 200) {
                        console.log('calling' + username );
                    } else {
                        alert("call request failed");
                    }
                };
            xhr.send(JSON.stringify({caller: "{{ user.username }}",callee:username}));
        };


        source.addEventListener('readytoans', function (event) {
            console.log('call request received');
            var data = JSON.parse(event.data);
            console.log(data);
            var answer = confirm("talk with " + data.caller + " ?")
            if (answer) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', "{{ url_for('callack') }}");
                xhr.onload = function () {
                    if (this.status === 200) {
                        console.log('calling ack' + data.caller );
                    } else {
                        alert("call ack request failed");
                    }
                };
            xhr.send(JSON.stringify({caller: data.caller,callee:data.callee}));
                location.replace('talk/'+data.caller+"/"+data.callee);
            }
            else {
                console.log("im busy");
            }
        }, false);


        source.addEventListener('readytoansack', function (event) {
            console.log('call request received');
            var data = JSON.parse(event.data);
            location.replace('talk/'+data.caller+"/"+data.callee);
        }, false);








    </script>

{% endblock %}

