{% extends 'base.html' %}
{% block content %}
    <h1>Flask-SSE Quickstart</h1>
    <div>
        <input type="text" id="msgInput"/>
        <button id="sendMsgBtn" onclick="send_msg()">Send text message</button>
    </div>


    {% if contacts %}
        <p>Contacts list</p>
        <ul>
            {% for contact in contacts %}
                <li>
                    <div>
                        <p>{{ contact.to_person.username }}</p>
                        <button class="btn" onclick='onclick_call("{{ contact.to_person.username }}");'>
                            make call
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

{% block static %}
    {##}
    {#    <script>#}
    {#        var source = new EventSource("{{ url_for('sse.stream', channel=user.username) }}");#}
    {#        source.addEventListener('greeting', function (event) {#}
    {#            var data = JSON.parse(event.data);#}
    {#            alert("The server says " + data.message);#}
    {#        }, false);#}
    {#        source.addEventListener('error', function (event) {#}
    {#            alert("Failed to connect to event stream. Is Redis running?");#}
    {#        }, false);#}
    {#        source.addEventListener('offer', function (event) {#}
    {#        }, false);#}
    {#    </script>#}
    {#    <script>#}
    {#    var xhr = new XMLHttpRequest();#}
    {#    xhr.open('POST', '/call');#}
    {#    xhr.onload = function () {#}
    {#        if (this.status === 200) {#}
    {#            console.log(this.response)#}
    {#        }#}
    {#    };#}
    {#    xhr.send(JSON.stringify({username:"amin"}))#}
    {##}
    {#    </script>#}

    <script>
        var source = new EventSource("{{ url_for('sse.stream', channel=user.username) }}");
        var user_b;
        var configuration = {
            "iceServers": [{"url": "stun:stunserver.org:3478"}]
        };
        var RTCPC_OPTIONAL = {optional: [{RtpDataChannels: true}]};

        var rtc_connection = new webkitRTCPeerConnection(configuration, RTCPC_OPTIONAL);

        rtc_connection.onicecandidate = function (event) {
            if (event.candidate) {
                console.log('onicecandidate called');
                var xhr = new XMLHttpRequest();
                xhr.open('POST', "{{ url_for('send_candidate') }}");
                xhr.send(JSON.stringify({candidate: event.candidate, username: user_b}));
            }
        };

        function onclick_call(username) {
            console.log('button clicked');
            user_b = username;
            rtc_connection.createOffer().then(function (offer) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', "{{ url_for('send_offer') }}");
                xhr.onload = function () {
                    if (this.status === 200) {
                        console.log('offer send successfully');
                    } else {
                        alert("offer request failed");
                    }
                };
                xhr.send(JSON.stringify({username: username, offer: offer}));
                rtc_connection.setLocalDescription(offer);
            }, null);
        }

        source.addEventListener('offer', function (event) {
            console.log('offer request received');
            var data = JSON.parse(event.data);
            rtc_connection.setRemoteDescription(new RTCSessionDescription((data.offer)));
            user_b = data.username;

            rtc_connection.createAnswer().then(function (answer) {
                rtc_connection.setLocalDescription(answer);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', "{{ url_for('send_answer') }}");
                xhr.onload = function () {
                    if (this.status === 200) {
                        console.log('answer request send');
                    }
                };
                xhr.send(JSON.stringify({answer: answer, username: data.username}));
            }, null)
        }, false);

        source.addEventListener('answer', function (event) {
            console.log('answer received');
            var data = JSON.parse(event.data);
            rtc_connection.setRemoteDescription(new RTCSessionDescription(data.answer));
        }, false);

        source.addEventListener('candidate', function (event) {
            console.log('candidate received');
            var data = JSON.parse(event.data);
            rtc_connection.addIceCandidate(new RTCIceCandidate(data.candidate));
        }, false);

    </script>

{% endblock %}

