{% extends 'base.html' %}
{% block content %}
    <h1>Flask-SSE Quickstart</h1>
    <div>
        <input type="text" id="msgInput"/>
        <button id="sendMsgBtn" onclick="send_msg()">Send text message</button>
    </div>


    {% if contacts %}
        <p>Contacts list</p>
        <ul>
            {% for contact in contacts %}
                <li>
                    <div>
                        <p>{{ contact.to_person.username }}</p>
                        <button class="btn" onclick='onclick_call("{{ contact.to_person.username }}");'>
                            make call
                        </button>
                        <button class="btn" onclick='start_text_chat("{{contact.to_person.username}}")'>
                            Send message
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

{% block static %}
    <script>
        var source = new EventSource("{{ url_for('sse.stream', channel=user.username) }}");
        var user_b;
        var configuration = {
            "iceServers": [{"url": "stun:stunserver.org:3478"}]
        };
        var RTCPC_OPTIONAL = {optional: [{RtpDataChannels: true}]};

        var rtc_connection = new RTCPeerConnection(configuration);

        rtc_connection.onicecandidate = function (event) {
            if (event.candidate) {
                console.log('onicecandidate called');
                var xhr = new XMLHttpRequest();
                xhr.open('POST', "{{ url_for('send_candidate') }}");
                xhr.send(JSON.stringify({candidate: event.candidate, username: user_b}));
            }
        };

        function onclick_call(username) {
            console.log('button clicked');
            user_b = username;
            rtc_connection.createOffer().then(function (offer) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', "{{ url_for('send_offer') }}");
                xhr.onload = function () {
                    if (this.status === 200) {
                        console.log('offer send successfully');
                    } else {
                        alert("offer request failed");
                    }
                };
                xhr.send(JSON.stringify({username: username, offer: offer}));
                rtc_connection.setLocalDescription(offer);
            }, null);
        }

        source.addEventListener('offer', function (event) {
            console.log('offer request received');
            var data = JSON.parse(event.data);
            rtc_connection.setRemoteDescription(new RTCSessionDescription((data.offer)));
            user_b = data.username;

            rtc_connection.createAnswer().then(function (answer) {
                rtc_connection.setLocalDescription(answer);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', "{{ url_for('send_answer') }}");
                xhr.onload = function () {
                    if (this.status === 200) {
                        console.log('answer request send');
                    }
                };
                xhr.send(JSON.stringify({answer: answer, username: data.username}));
            }, null)
        }, false);

        source.addEventListener('answer', function (event) {
            console.log('answer received');
            var data = JSON.parse(event.data);
            rtc_connection.setRemoteDescription(new RTCSessionDescription(data.answer));
        }, false);

        source.addEventListener('candidate', function (event) {
            console.log('candidate received');
            var data = JSON.parse(event.data);
            rtc_connection.addIceCandidate(new RTCIceCandidate(data.candidate));
        }, false);

        var dataChannelOptions = {
            reliable: true
        };
        console.log('hey there');

        dataChannel = rtc_connection.createDataChannel("myDataChannel", dataChannelOptions);

        dataChannel.onerror = function (error) {
            console.log("Error:", error);
        };

        dataChannel.onmessage = function (event) {
            console.log("Got message:");
        };

        dataChannel.onopen = function (event) {
            dataChannel.send("hi");
        };


        function start_text_chat(username){
            var xhr = new XMLHttpRequest();
            xhr.open('POST', "{{ url_for('create_chatroom') }}");

            xhr.onload = function () {
                console.log(this.status);
                if (this.status === 200) {
                    console.log('answer request send');
                    var socket = io.connect('http://' + document.domain + ':' + location.port +"{{url_for('create_chatroom')}}");
                    socket.on('connect', function() {
                        console.log('emitting');
                        socket.emit('joined', {data: 'I\'m connected!'});
                    });
                    <!--window.location.replace("{{url_for('.get_room')}}");-->
                }
            };
            console.log(JSON.stringify({name: username, room: username}));
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(JSON.stringify({name: username, room: 'PV'}));

        };
    </script>

{% endblock %}

