<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Room</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div>
    <p>local</p>
    <p>remote</p>
    <video id="local_video" autoplay></video>

    <video id="remote_video" autoplay></video>

    <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#createModal">
        Create a RTC room
    </button>
    <button class="btn btn-lg btn-secondary" data-toggle="modal" data-target="#joinModal">
        join a RTC room
    </button>

    <button onclick="send()" type="button" class="btn btn-alert">send</button>
    <button onclick="openData()" type="button" class="btn btn-alert">open</button>


    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-primary" id="createModalLabel">Create a RTC room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <div class="form-group">

                            <label for="create_roomName" class="text-secondary">Enter room's name</label>
                            <input class="form-control form-control-lg rounded-0" id="create_roomName" name="roomName"
                                   required
                                   size="32" type="text" value="">
                        </div>
                        <button id="session_btn" type="button" class="btn btn-danger"
                                onclick="startSession(document.querySelector('#create_roomName').value)"
                                disabled>
                            Start Session
                        </button>
                    </div>
                </div>
                <div id="create_notifications" class="bg-info"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="createRoomBtn()">Create</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-primary" id="joinModalLabel">join a RTC room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <div class="form-group">

                            <label for="join_roomName" class="text-secondary">Enter room's name</label>
                            <input class="form-control form-control-lg rounded-0" id="join_roomName" name="roomName"
                                   required
                                   size="32" type="text" value="">
                        </div>
                    </div>
                    <div id="join_notifications" class="bg-info"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary"
                            onclick="joinRoomBtn()">Join
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/adapter.js') }}"></script>

<script>
    function createRoomBtn() {
        console.log('create room called');
        room_name = document.querySelector('#create_roomName').value;
        var stream_url = "{{ url_for('sse.stream') }}" + "?channel=" + room_name;
        console.log(stream_url);
        sseConnection = new EventSource(stream_url);
        sseConnection.addEventListener('join', function (event) {
            var data = JSON.parse(event.data);
            if (data.username === "{{ user.username }}")
                notif("create", "you joined", "alert");
            else {
                notif("create", data.username + " joined", "alert");
                document.querySelector('#session_btn').disabled = false;
            }

        }, null);
        sseConnection.addEventListener('answer', function (event) {
            json = JSON.parse(event.data);
            console.log('answer');
            console.log(json);
            peerConnection.setRemoteDescription(new RTCSessionDescription(json.data));
        });
        sseConnection.addEventListener('candidate', function (event) {
            json = JSON.parse(event.data);
            console.log('ice sse');
            peerConnection.addIceCandidate(json.data);
        });
        document.querySelector('#create_notifications').innerHTML = '';
        var xhr = new XMLHttpRequest();
        xhr.open('POST', "{{ url_for('create_room') }}");
        xhr.onload = function () {
            if (this.status === 200) {
                console.log('join announcement send');
            } else if (this.status === 409) {
                notif("create", 'room already exists. try another one!', "alert");
            } else if (this.status === 400) {
                notif("create", 'room name cannot started with _user!', "alert");
            }
        };
        xhr.send(JSON.stringify({username: "{{ user.username }}", room: room_name}));
    }

    function joinRoomBtn() {
        console.log('join room called');
        room_name = document.querySelector('#join_roomName').value;
        var stream_url = "{{ url_for('sse.stream') }}" + "?channel=" + room_name;
        sseConnection = new EventSource(stream_url);
        sseConnection.addEventListener('join', function (event) {
            var data = JSON.parse(event.data);
            if (data.username === "{{ user.username }}")
                notif("join", "you joined", "alert");
            else
                notif("join", data.username + " joined", "alert");

        }, null);

        sseConnection.addEventListener('session', function (event) {
            json = JSON.parse(event.data);
            console.log(json);
            notif("join", 'session started', "alert");
        }, null);
        sseConnection.addEventListener('offer', function (event) {
            json = JSON.parse(event.data);
            console.log('offer');
            console.log(json);
            peerConnection.setRemoteDescription(new RTCSessionDescription(json.data));
            peerConnection.createAnswer().then(function (answer) {
                peerConnection.setLocalDescription(answer);
                console.log('answer');
                console.log(answer);

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '{{ url_for('send_room_signal') }}');
                xhr.onload = function () {
                    if (!this.status === 200)
                        alert('failed to send answer');
                };
                xhr.send(JSON.stringify({data: answer, room: room_name, type: 'answer'}));
            })

        });
        sseConnection.addEventListener('candidate', function (event) {
            json = JSON.parse(event.data);
            console.log('ice sse join');
            peerConnection.addIceCandidate(json.data);
        });
        document.querySelector('#join_notifications').innerHTML = '';
        var xhr = new XMLHttpRequest();
        xhr.open('POST', "{{ url_for('join_room') }}");
        xhr.onload = function () {
            if (this.status === 200) {
                json = JSON.parse(this.responseText);
                json.members.forEach(function (entry) {
                    if (!entry === "{{ user.username }}")
                        notif("join", entry + " joined", "alert");
                });
                notif("join", json.creator + " joined", "alert");
            } else if (this.status === 404)
                notif("join", 'room not found', "alert");
            else
                notif("join", 'error happened try again', "alert");
        };
        xhr.send(JSON.stringify({username: "{{ user.username }}", room: room_name}));
    }

    function startSession(room_name) {
        console.log('session started');
        notif("create", "session started", "alert");
        peerConnection.createOffer().then(function (offer) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{{ url_for('send_room_signal') }}');
            xhr.onload = function () {
                if (!this.status === 200) {
                    alert('failed to send offer');
                }
            };
            xhr.send(JSON.stringify({data: offer, room: room_name, type: 'offer'}));
            peerConnection.setLocalDescription(offer);
        }, function (error) {
            alert(error);
        })

    }

    function notif(type, msg, kind) {
        var notifications;
        if (type === "create") {
            notifications = document.querySelector('#create_notifications');
        } else {
            notifications = document.querySelector('#join_notifications');
        }
        var para = document.createElement("p");
        para.appendChild(document.createTextNode(msg));
        notifications.appendChild(para);
    }

    function openData() {
        console.log('ghopen');
        var dataChannelOptions = {
            reliable: true
        };
        dataChannel = peerConnection.createDataChannel('textDataChannel', dataChannelOptions);
        dataChannel.onerror = function (error) {
            console.log("Error:", error);
        };

        dataChannel.onmessage = function (event) {
            console.log("Got message:", event.data);
        };

        dataChannel.onopen = function (event) {
            console.log('open');
        };
        dataChannel.onstatechange
    }

    function send() {
        console.log('send');
        dataChannel.send('hi');
    }

    var peerConnection = new RTCPeerConnection();
    console.log('currebt state ' + peerConnection.iceGatheringState);
    var stream;
    var remote_video = document.querySelector('#remote_video');
    var sseConnection;
    var room_name;
    var dataChannel;

    {#$('#joinModal').on('hidden.bs.modal', function () {#}
    {#    close();#}
    {# });#}
    {##}
    {#$('#createModal').on('hidden.bs.modal', function () {#}
    {#    close();#}
    {# });#}

    navigator.getUserMedia({video: true, audio: true}, function (navStream) {
        console.log('nav');
        stream = navStream;
        var local_video = document.querySelector('#local_video');
        local_video.srcObject = stream;

        peerConnection.addStream(stream);
    }, function (err) {
        alert(err);
    });

    console.log('register');

    peerConnection.oniceconnectionstatechange = function (event) {
        console.log('change connection state ' + event.target.iceConnectionState);
    };

    peerConnection.onicecandidate = function (event) {
        console.log('state' + event.target.iceGatheringState);
        console.log(peerConnection.iceGatheringState);
        if (event.candidate) {
            console.log('ice 2');
            console.log(event.candidate);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{{ url_for('send_room_signal') }}');
            xhr.onload = function () {
                if (!this.status === 200) {
                    alert('failed to send offer');
                }
            };
            xhr.send(JSON.stringify({data: event.candidate, room: room_name, type: 'candidate'}));
        }
    };

    peerConnection.onaddstream = function (event) {
        console.log('onaddstream');
        remote_video.srcObject = event.stream;
    };

    peerConnection.onicecandidateerror = function (event) {
        console.log('onicecandidateerror');
        console.log(event);
    };
    peerConnection.onerror = function (event) {
        console.log('onerror');
        console.log(event);
    };

    peerConnection.ontrack = function (event) {
        console.log('on DDD ontrack');
        remote_video.srcObject = event.stream;
    };

    peerConnection.iceConnectionState = function (event) {
        console.log('sdf');
        console.log(peerConnection.state());
    }
</script>

</body>
</html>